name: specbolt CI
on: [ push ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: [ Debug, RelWithDebInfo ]
        clang_version: [ 19 ]
    steps:
      - uses: actions/checkout@v4
      - name: setup system dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libsdl2-dev libreadline-dev
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.30.x'
      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@v5
      - name: install clang
        run: |
          wget https://apt.llvm.org/llvm.sh
          sudo bash llvm.sh ${{ matrix.clang_version }} all
          echo "CC=clang-${{ matrix.clang_version }}" >> "$GITHUB_ENV"
          echo "CXX=clang++-${{ matrix.clang_version }}" >> "$GITHUB_ENV"
      - name: Build
        run: |
          mkdir build
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          cmake --build build
          env CTEST_OUTPUT_ON_FAILURE=1 cmake --build build --target test

  check-pre-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pre-commit/action@v3.0.1
